html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  background: purple;
  height: 100px;
  color: white;
}

dl {
  margin: 0 8px;
}

dt {
  margin: 8px 0;
  padding: 8px;
  background: midnightblue;

  color: whitesmoke;
  font-weight: bold;
}

dd {
  border: 1px solid black;
  background: whitesmoke;
}

.box {
  padding: 8px;

  background: steelblue;
  border: 2px solid skyblue;
  border-radius: 8px;

  color: whitesmoke;
  font-size: 2vw;
}

/********** Task 1 **********/

#task1 ul {
  padding: 0 8px;

  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  justify-content: space-between;
  list-style: none;
}

#task1 a {
  text-decoration: none;
}

/********** Task 2 **********/
#task2 {
  display: flex;
}

#task2 p {
  flex: 1;
}

/* #task2 p:nth-child(1) {
  flex: 2;
} */

/********** Task 3 **********/

#task3 .parent {
  display: flex;

  height: 100px;
  justify-content: center;
  align-items: center;
}

/********** Task 4 **********/

#task4 ul {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-flow: row wrap;
  width: 450px;
}

#task4 li {
  flex: 1;
  list-style: none;
  font-size: 1.2em;
}
/* 
#task4 li:nth-child(-n + 4) {
  flex: 1;
  background: pink;
}

#task4 li:nth-child(n + 5) {
  flex: 1;
  background: green;
} */
